<h1>Collections</h1>

<br>

<%= link_to 'Add Collection', new_collection_path %>

<br>

<% if @collections.empty? %>

    <p>No collections have been added yet.</p>

<% else %>

    <div class="row" style="font-weight: bold;">
      <div class="col-md-1">ID</div>
      <div class="col-md-2">Slug</div>
      <div class="col-md-5">Title</div>
      <div class="col-md-4">Actions</div>
    </div>

    <% @collections.each do |collection| %>

      <div class="row">
        <div class="col-md-1"><%= collection.id %></div>
        <div class="col-md-2"><%= collection.slug %></div>
        <div class="col-md-5"><%= collection.display_title %></div>
        <div class="col-md-4">
          <%= link_to 'Show', collection %> |
          <%= link_to 'Edit', edit_collection_path(collection) %> |
          <%= link_to 'Delete', collection, method: :delete %>
        </div>
      </div>

    <% end %>

<% end %>