<%= content_for :admin_area_title do %>
    Collections
<% end %>

<%= link_to 'Add Collection', new_collection_path, class: 'btn btn-default' %>

<% if @collections.empty? %>

    <p>No collections have been added yet.</p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Slug</th>
          <th>Display Title</th>
          <th>Repository</th>
          <th>Items</th>
          <th width="185px"></th>
        </tr>
      </thead>

      <tbody>
        <% @collections.each do |collection| %>
            <tr>
              <td>
                <%= link_to collection.id, collection %>
              </td>
              <td>
                <%= link_to collection.slug, collection %>
              </td>
              <td>
                <%= collection.display_title %>
              </td>
              <td>
                <%= link_to collection.repository.title, collection.repository %>
              </td>
              <td>
                <%= collection.items.count %>
              </td>
              <td>
                <div class="btn-group btn-group-xs">
                  <%= link_to 'View', collection, class: 'btn btn-default' %>
                  <%= link_to 'BL View', solr_document_path(collection.slug), class: 'btn btn-default' %>
                  <%= link_to 'Edit', edit_collection_path(collection), class: 'btn btn-default' %>
                  <%= link_to 'Delete', collection, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
                </div>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>

<% end %>