<%= content_for :title do %>
    Collections
<% end %>

<%=
  content_for :subtitle do
    if params[:repository_id] && !params[:repository_id].blank?
      t('meta.defaults.labels.filtered_by_subtitle', title: @collections.first.repository.title) if @collections.first && @collections.first.repository
    else
      t('meta.defaults.labels.unfiltered_index_subtitle')
    end
  end
%>

<% breadcrumb :collections %>

<%= link_to t('meta.collection.actions.add'), new_collection_path, class: 'btn btn-default' %>

<%= render 'shared/per_pager' %>

<br><br>

<div class="well well-sm">
  <%= bootstrap_form_tag url: collections_path, method: :get, layout: :horizontal, label_col: 'col-sm-1', control_col: 'col-sm-11' do |f| %>
      <%= f.hidden_field :direction, { value: params[:direction], name: 'direction' } if params[:direction] %>
      <%= f.hidden_field :sort, { value: params[:sort], name: 'sort' } if params[:sort] %>
      <%= f.hidden_field :per_page, { value: params[:per_page], name: 'per_page' } if params[:per_page] %>
      <%= f.select :repository_id, options_for_select(@search_options[:repositories].collect { |c| [c.title, c.id] }, selected: params[:repository_id] ), { label: t('meta.defaults.labels.filter.repository'), include_blank: true }, { name: 'repository_id' } %>
      <%= f.select :public, options_for_select(@search_options[:public], selected: params[:public]), { label: t('meta.defaults.labels.filter.public')}, { name: 'public' } %>
      <%= f.primary 'Filter' %>
  <% end %>
</div>

<% if @collections.empty? %>

    <p><%= t('meta.defaults.labels.no_records_found', entity: 'Collections') %></p>
<% else %>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>
            <%= sortable 'id', t('meta.defaults.labels.columns.id') %>
          </th>
          <th>
            <%= sortable 'slug', t('meta.defaults.labels.columns.slug') %>
          </th>
          <th>
            <%= sortable 'display_title', t('meta.defaults.labels.columns.title') %>
          </th>
          <th>
            <%= sortable 'public' , t('meta.defaults.labels.columns.public') %>
          </th>
          <th>
            <%= t('meta.collection.labels.columns.repository') %>
          </th>
          <th>
            <%= sortable 'items_count', 'Items' %>
          </th>
          <th width="185px"></th>
        </tr>
      </thead>

      <tbody>
        <% @collections.each do |collection| %>
            <tr>
              <td>
                <%= link_to collection.id, collection_path(collection) %>
              </td>
              <td>
                <%= link_to collection.slug, collection_path(collection) %>
              </td>
              <td>
                <%= collection.display_title %>
              </td>
              <td>
                <%= boolean_check_icon collection.public %>
              </td>
              <td>
                <%= link_to(collection.repository.title, repository_path(collection.repository)) if collection.repository %>
              </td>
              <td>
                <%= link_to(collection.items.size, items_path(collection_id: collection.id)) %>
              </td>
              <td>
                <%= render partial: 'shared/entity_actions', locals: { base_path: collection_path(collection), edit_path: edit_collection_path(collection), entity: collection, show_bl: false } %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @collections %>

<% end %>