<%= content_for :title do %>
    Collections
<% end %>

<%=
  content_for :subtitle do
    if params[:repository_id] && !params[:repository_id].blank?
      @collections.first.repository.title if @collections.first && @collections.first.repository
    else
      'All of them'
    end
  end
%>

<%= link_to 'Add Collection', new_collection_path, class: 'btn btn-default' %>

<%= render 'shared/per_pager' %>

<br><br>

<div class="well well-sm">
  <%= bootstrap_form_tag url: collections_path, method: :get, layout: :horizontal, label_col: 'col-sm-1', control_col: 'col-sm-11' do |f| %>
      <%= f.hidden_field :direction, { value: params[:direction], name: 'direction' } if params[:direction] %>
      <%= f.hidden_field :sort, { value: params[:sort], name: 'sort' } if params[:sort] %>
      <%= f.hidden_field :per_page, { value: params[:per_page], name: 'per_page' } if params[:per_page] %>
      <%= f.select :repository_id, options_for_select(@search_options[:repositories].collect { |c| [c.title, c.id] }, selected: params[:repository_id] ), { include_blank: true }, { name: 'repository_id' } %>
      <%= f.select :public, options_for_select(@search_options[:public], selected: params[:public]), { label: 'Public'}, { name: 'public' } %>
      <%= f.primary 'Filter' %>
      <%# f.primary 'Reset' %>
  <% end %>
</div>

<% if @collections.empty? %>

    <p>No collections found.</p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>
            <%= sortable 'id', 'ID' %>
          </th>
          <th>
            <%= sortable 'slug', 'Slug' %>

          </th>
          <th>
            <%= sortable 'display_title', 'Display Title' %>
          </th>
          <th>
            <%= sortable 'public' , 'Public?' %>
          </th>
          <th>
            <%= sortable 'repository_id', 'Repository' %>
          </th>
          <th>
            Items
          </th>
          <th width="185px"></th>
        </tr>
      </thead>

      <tbody>
        <% @collections.each do |collection| %>
            <tr>
              <td>
                <%= link_to collection.id, collection_path(collection) %>
              </td>
              <td>
                <%= link_to collection.slug, collection_path(collection) %>
              </td>
              <td>
                <%= collection.display_title %>
              </td>
              <td>
                <%= boolean_check_icon collection.public %>
              </td>
              <td>
                <%= link_to(collection.repository.title, repository_path(collection.repository)) if collection.repository %>
              </td>
              <td>
                <%= collection.items.size %>
              </td>
              <td>
                <div class="btn-group btn-group-xs">
                  <%= render partial: 'shared/entity_actions', locals: { base_path: collection_path(collection), edit_path: edit_collection_path(collection), entity: collection, show_bl: false } %>
                </div>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @collections %>

<% end %>