<%= content_for :title do %>
    Show Collection
<% end %>

<%= content_for :subtitle do %>
    <%= @collection.display_title %>
<% end %>

<% breadcrumb :collection, @collection %>

<div class="btn-group">
  <%= link_to t('meta.defaults.actions.edit'), edit_collection_path(@collection), class: 'btn btn-default' %>
  <%= link_to t('meta.collection.actions.xml'), '#xml' , class: 'btn btn-default', data: { turbolinks: false } %>
  <%= link_to t('meta.collection.actions.manage_items'), items_path( { collection_id: @collection.id } ) , class: 'btn btn-default' %>
  <%= link_to t('meta.collection.actions.download_item_xml'), items_path( { collection_id: @collection.id, format: :xml } ) , class: 'btn btn-default' %>
</div>

<br><br>

<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.repository_id'), value: @collection.repository.title %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.thumbnail'), value: image_tag(@collection.holding_institutions.first.image.url) %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.portal_ids'), value: portals_list(@collection) %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.slug'), value: @collection.slug %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.display_title'), value: @collection.display_title %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.short_description'), value: @collection.short_description %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.partner_homepage_url'), value: @collection.partner_homepage_url %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.homepage_text'), value: @collection.homepage_text %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.public'), value: @collection.public %>

<%= render partial: 'shared/show_dc_fields', locals: { entity: @collection } %>

<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.created_at'), value: display_date(@collection.created_at) %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.updated_at'), value: display_date(@collection.updated_at) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t('meta.collection.labels.view.other_repositories') %></strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @collection.other_repository_titles.each do |r| %>
          <li><%= r %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t('meta.collection.labels.view.subjects') %></strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @collection.subjects.each do |s| %>
          <li><%= s.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t('meta.collection.labels.view.time_periods') %></strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @collection.time_periods.each do |t| %>
          <li><%= t.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<a name="xml"></a>
<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t('meta.collection.actions.item_xml')%></strong><%= link_to 'Select All', '#xml', { data: { container_id: 'record_xml', turbolinks: false }, class: 'select-element-text btn btn-xs btn-primary pull-right' } %>
  </div>
  <div class="panel-body">
    <pre id="record_xml"><%= @collection.to_xml({show_repository: true}) %></pre>
  </div>
</div>