<%= content_for :title do %>
  DLG Meta Dashboard
<% end %>

<p>Welcome!</p>

<% if current_user.super? %>
  <p>You have all the power, Super user!</p>
<% end %>

<% if current_user.coordinator? %>
    <% users = User.active.where(creator: current_user) %>
    <p>You have <%= users.length %> supervised <%= link_to pluralize(users.length, 'User', 'Users'), users_path %>.</p>
    <% if users.present? %>
      <ul>
        <% users.each do |u| %>
          <li><%= link_to u.email, user_path(u) %></li>
        <% end %>
      </ul>
    <% end %>
<% end %>

<% if current_user.committer? %>
    <% batches = Batch.pending.where(user: current_user) %>
  <p>You have <%= batches.length %> pending <%= link_to pluralize(batches.length, 'Batch', 'Batches'), batches_path %>.</p>
    <% if batches.present? %>
        <ul>
          <% batches.each do |b| %>
              <li><%= link_to b.name, batch_path(b) %></li>
          <% end %>
        </ul>
    <% end %>
<% end %>

<% unless current_user.super? %>
  <% if current_user.repositories %>
    <p>
      You have rights to modify these Repositories:
    </p>
    <ul>
    <% current_user.repositories.each do |repository| %>
      <li><%= link_to repository.title, repository_path(repository) %></li>
    <% end %>
    </ul>
  <% end %>
  <% if current_user.collections %>
    You have rights to modify these Collections:
    <ul>
    <% current_user.collections.each do |collection| %>
      <li><%= link_to collection.display_title, collection_path(collection) %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>