<%= content_for :title do %>
    Show Time Period
<% end %>

<%= content_for :subtitle do %>
    <%= @time_period_presenter.name %>
<% end %>

<% breadcrumb :time_period, @time_period_presenter %>

<%= @time_period_presenter.edit_button %>

<br><br>

<%= @time_period_presenter.name_field %>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t('meta.time_period.labels.view.collections_for') %></strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @time_period_presenter.collections.each do |c| %>
          <li><%= link_to c.display_title, c %></li>
      <% end %>
    </ul>
  </div>
</div>
