<div class="panel panel-<%= @fulltext_ingest.failed? ? 'danger' : 'default' %>">
  <div class="panel-heading">
    <strong>Results</strong>
  </div>
  <% if @fulltext_ingest.undone_at %>
  <div class="panel-body">
    <div class="alert alert-warning">
      This Ingest was undone at <%= display_date(@fulltext_ingest.undone_at) %>, which removed the loaded fulltext from the Items linked to below.
    </div>
  </div>
  <% end %>
  <% if @fulltext_ingest.results and (@fulltext_ingest.success? or @fulltext_ingest.partial_failure?) %>
      <% if @fulltext_ingest.succeeded.present? or @fulltext_ingest.failed.present? %>
        <% i = 1 %>
        <table class="table table-hover fulltext-ingest-results-table">
          <thead>
          <tr>
            <th>
              <%= t('meta.fulltext_ingests.labels.number') %>
            </th>
            <th>
              <%= t('meta.fulltext_ingests.labels.file') %>
            </th>
            <th>
              <%= t('meta.fulltext_ingests.labels.outcome') %>
            </th>
          </tr>
          </thead>
          <tbody>
          <% @fulltext_ingest.failed.each do |record_id, message| %>
            <tr class="danger">
              <td><%= i %></td>
              <td><%= record_id %></td>
              <td><%= message %></td>
            </tr>
            <% i += 1 %>
          <% end %>
          <% @fulltext_ingest.succeeded.each do |item_id| %>
            <tr class="success">
              <td><%= i %></td>
              <td></td>
              <td><%= link_to t('meta.fulltext_ingests.labels.item_link'), item_path(item_id) %></td>
            </tr>
            <% i += 1 %>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="well">
          <%= @fulltext_ingest.results %>
        </div>
      <% end %>
  <% else %>
    <div class="panel-body">
      <% if @fulltext_ingest.results %>
        <% if @fulltext_ingest.results['message'] %>
          <div class="alert alert-danger">
            <%= @fulltext_ingest.results['message'] %>
          </div>
        <% end %>
        <% if @fulltext_ingest.processed_files %>
          <table class="table table-hover fulltext-ingest-results-table">
            <thead>
            <tr>
              <th><%= t('meta.fulltext_ingests.labels.file') %></th>
              <th><%= t('meta.fulltext_ingests.labels.outcome') %></th>
            </tr>
            </thead>
            <tbody>
            <% @fulltext_ingest.failed do |record_id, message| %>
              <tr>
                <td><%= record_id %></td>
                <td><%= truncate message, length: 100 %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      <% else %>
        <div class="alert alert-danger">
          The results for this load had to be removed because they were too large :/
        </div>
      <% end %>
    </div>
  <% end %>
</div>
