<%= content_for :title do %>
    Full Text Ingests
<% end %>

<% breadcrumb :fulltext_ingests %>

<%= link_to t('meta.fulltext_ingests.action.add'), new_fulltext_ingest_path, class: 'btn btn-default' %>

<br><br>

<% if @fulltext_ingests.empty? %>

    <p><%= t('meta.defaults.labels.no_records_found', entity: 'Fulltext Ingests') %></p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'fulltext_ingests.id', t('meta.defaults.labels.columns.id') %>
        </th>
        <th>
          <%= sortable 'fulltext_ingests.title', t('meta.defaults.labels.columns.name') %>
        </th>
        <th>
          <%= t('activerecord.attributes.fulltext_ingest.user_id') %>
        </th>
        <th>
          <%= sortable 'fulltext_ingests.queued_at', t('activerecord.attributes.fulltext_ingest.queued_at') %>
        </th>
        <th>
          <%= sortable 'fulltext_ingests.finished_at', t('activerecord.attributes.fulltext_ingest.finished_at') %>
        </th>
        <th>
          <%= sortable 'fulltext_ingests.undone_at', 'Undone?' %>
        </th>
        <th width="185px"></th>
      </tr>
      </thead>

      <tbody>
      <% @fulltext_ingests.each do |fulltext_ingest| %>
          <tr>
            <td>
              <%= link_to fulltext_ingest.id, fulltext_ingest_path(fulltext_ingest) %>
            </td>
            <td>
              <%= link_to fulltext_ingest.title, fulltext_ingest_path(fulltext_ingest) %>
            </td>
            <td>
              <%= fulltext_ingest.user.email %>
            </td>
            <td>
              <%= fulltext_ingest.queued_at %>
            </td>
            <td>
              <%= fulltext_ingest.finished_at %>
            </td>
            <td>
              <%= boolean_check_icon fulltext_ingest.undone_at %>
            </td>
            <td>
              <div class="btn-group btn-group-xs">
                <%= link_to t('meta.defaults.actions.view'), fulltext_ingest_path(fulltext_ingest), class: 'btn btn-default' %>
                <%= link_to t('meta.fulltext_ingests.action.undo'), fulltext_ingest_path(fulltext_ingest), method: :delete, data: { confirm: t('meta.defaults.labels.confirm') }, class: 'btn btn-default' %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @fulltext_ingests %>

<% end %>


