<%= bootstrap_form_for(@repository, inline_errors: false) do |f| %>
  <%= f.alert_message t('meta.defaults.messages.errors.invalid_on_save', entity: 'Repository') %>
  <%= f.text_field :slug %>
  <%= f.text_field :title %>
  <%= f.form_group :public do %>
      <%= f.check_box :public %>
  <% end %>
  <%= f.select :portal_ids, @data[:portals].collect { |c| [c.name, c.id] }, {}, { multiple: true,  class: 'fancy-multiselect' } %>
  <%= f.text_area :teaser %>
  <%= f.text_area :short_description %>
  <%= f.text_area :description %>
  <%= f.text_field :coordinates %>
  <% if @repository.thumbnail? %>
    <label><%= t('meta.defaults.labels.current_thumbnail') %></label><br>
    <%= image_tag(@repository.thumbnail.url, class: 'thumbnail') %>
    <%= f.check_box :remove_thumbnail, label: t('meta.defaults.labels.remove_thumbnail') %>
  <% else %>
    <%= f.file_field :thumbnail %>
    <%= f.hidden_field :thumbnail_cache %>
  <% end %>
  <% if @repository.image? %>
    <label><%= t('meta.defaults.labels.current_image') %></label><br>
    <%= image_tag(@repository.image.url, class: 'thumbnail') %>
    <%= f.check_box :remove_image, label: t('meta.defaults.labels.remove_image') %>
  <% else %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  <% end %>
  <%= f.url_field :homepage_url %>
  <%= f.url_field :directions_url %>
  <%= f.text_area :address %>
  <%= f.text_area :strengths %>
  <%= f.text_area :contact %>
  <%= f.primary 'Save' %>
<% end %>