<h1>Repositories</h1>

<%= link_to 'Add Repository', new_repository_path %>

<br><br>

<% if @repositories.empty? %>

    <p>No repositories have been added yet.</p>

<% else %>

    <div class="row" style="font-weight: bold;">
      <div class="col-md-1">ID</div>
      <div class="col-md-2">Slug</div>
      <div class="col-md-5">Title</div>
      <div class="col-md-4">Actions</div>
    </div>

    <% @repositories.each do |repository| %>

      <div class="row">
        <div class="col-md-1"><%= repository.id %></div>
        <div class="col-md-2"><%= repository.slug %></div>
        <div class="col-md-5"><%= repository.title %></div>
        <div class="col-md-4">
          <%= link_to 'Show', repository %> |
          <%= link_to 'Edit', edit_repository_path(repository) %> |
          <%= link_to 'Delete', repository, method: :delete %>
        </div>
      </div>

    <% end %>

<% end %>