<%= content_for :title do %>
    Repositories
<% end %>

<%= content_for :subtitle do %>
    <%= t('meta.defaults.labels.unfiltered_index_subtitle') %>
<% end %>

<% breadcrumb :repositories %>

<%= link_to t('meta.repository.actions.add'), new_repository_path, class: 'btn btn-default' %>

<%= render 'shared/per_pager' %>

<br><br>

<% if @repositories.empty? %>

    <p><%= t('meta.defaults.labels.no_records_found', entity: 'Items') %></p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'id', t('meta.defaults.labels.columns.id') %>
        </th>
        <th>
          <%= sortable 'slug', t('meta.defaults.labels.columns.slug') %>
        </th>
        <th>
          <%= sortable 'title', t('meta.defaults.labels.columns.title') %>
        </th>
        <th>
          <%= t('meta.defaults.labels.columns.portals') %>
        </th>
        <th>
          <%= sortable 'collections_count', t('meta.defaults.labels.columns.collections_count') %>
        </th>
        <th>
          <%= sortable 'created_at', t('activerecord.attributes.collection.created_at')  %>
        </th>
        <th>
          <%= sortable 'updated_at', t('activerecord.attributes.collection.updated_at')  %>
        </th>
        <th width="185px"></th>
      </tr>
      </thead>

      <tbody>
      <% @repositories.each do |repository| %>
          <tr>
            <td>
              <%= link_to repository.id, repository_path(repository) %>
            </td>
            <td>
              <%= link_to repository.slug, repository_path(repository) %>
            </td>
            <td>
              <%= repository.title %>
            </td>
            <td>
              <%= portal_badges repository %>
            </td>
            <td>
              <%= link_to(repository.collections.size, collections_path(repository_id: repository.id)) %>
            </td>
            <td>
              <%= time_tag repository.created_at %>
            </td>
            <td>
              <%= time_ago_in_words repository.updated_at %> ago
            </td>
            <td>
              <%= render partial: 'shared/entity_actions', locals: { base_path: repository_path(repository), edit_path: edit_repository_path(repository), entity: repository, show_bl: false } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @repositories %>

<% end %>