<%= content_for :admin_area_title do %>
    Repositories
<% end %>

<%= content_for :admin_area_subtitle do %>
    All of them
<% end %>

<%= link_to 'Add Repository', new_repository_path, class: 'btn btn-default' %>

<br><br>

<% if @repositories.empty? %>

    <p>No repositories have been added yet.</p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'id', 'ID' %>
        </th>
        <th>
          <%= sortable 'slug', 'Slug' %>
        </th>
        <th>
          <%= sortable 'title', 'Title' %>
        </th>
        <th>
          Collections
        </th>
        <th width="185px"></th>
      </tr>
      </thead>

      <tbody>
      <% @repositories.each do |repository| %>
          <tr>
            <td>
              <%= link_to repository.id, repository %>
            </td>
            <td>
              <%= link_to repository.slug, repository %>
            </td>
            <td>
              <%= repository.title %>
            </td>
            <td>
              <%= repository.collections.count %>
            </td>
            <td>
              <div class="btn-group btn-group-xs">
                <%= render partial: 'shared/entity_actions', locals: { entity: repository } %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @repositories %>

<% end %>