<%= content_for :title do %>
    Repositories
<% end %>

<%= content_for :subtitle do %>
    All of them
<% end %>

<% breadcrumb :repositories %>

<%= link_to 'Add Repository', new_repository_path, class: 'btn btn-default' %>

<%= render 'shared/per_pager' %>

<br><br>

<% if @repositories.empty? %>

    <p>No repositories have been added yet.</p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'id', 'ID' %>
        </th>
        <th>
          <%= sortable 'slug', 'Slug' %>
        </th>
        <th>
          <%= sortable 'title', 'Title' %>
        </th>
        <th>
          <%= sortable 'collections_count', 'Collections' %>
        </th>
        <th width="185px"></th>
      </tr>
      </thead>

      <tbody>
      <% @repositories.each do |repository| %>
          <tr>
            <td>
              <%= link_to repository.id, repository_path(repository) %>
            </td>
            <td>
              <%= link_to repository.slug, repository_path(repository) %>
            </td>
            <td>
              <%= repository.title %>
            </td>
            <td>
              <%= link_to(repository.collections.size, collections_path(repository_id: repository.id)) %>
            </td>
            <td>
              <%= render partial: 'shared/entity_actions', locals: { base_path: repository_path(repository), edit_path: edit_repository_path(repository), entity: repository, show_bl: false } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @repositories %>

<% end %>