<%= content_for :title do %>
    Repositories
<% end %>

<%= content_for :subtitle do %>
    <%= t('meta.defaults.labels.unfiltered_index_subtitle') %>
<% end %>

<% breadcrumb :repositories %>

<%= link_to t('meta.repository.actions.add'), new_repository_path, class: 'btn btn-default' %>

<%= render 'shared/per_pager' %>

<br><br>

<div class="well well-sm index-filter-area">
  <%= bootstrap_form_tag url: repositories_path, method: :get, layout: :horizontal, label_col: 'col-sm-1', control_col: 'col-sm-11' do |f| %>
      <%= f.hidden_field :direction, { value: h(params[:direction]), name: 'direction' } if params[:direction] %>
      <%= f.hidden_field :sort, { value: h(params[:sort]), name: 'sort' } if params[:sort] %>
      <%= f.hidden_field :per_page, { value: h(params[:per_page]), name: 'per_page' } if params[:per_page] %>
      <%= f.select :portal_id, options_for_select(@data[:portals].collect { |p| [p.name, p.id] }, selected: params[:portal_id]), { label: t('meta.defaults.labels.filter.portals'), include_blank: false }, { name: 'portal_id[]', class: 'fancy-multiselect portals-filter', multiple: true } %>
      <%= f.primary 'Filter' %>&nbsp;<span class="pull-right"><span class="badge"><%= @repositories.count %></span> records shown of <span class="badge"><%= @repositories.total_count %></span> total records</span>
  <% end %>
</div>

<% if @repositories.empty? %>

    <p><%= t('meta.defaults.labels.no_records_found', entity: 'Items') %></p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'id', t('meta.defaults.labels.columns.id') %>
        </th>
        <th>
          <%= sortable 'slug', t('meta.defaults.labels.columns.slug') %>
        </th>
        <th>
          <%= sortable 'title', t('meta.defaults.labels.columns.title') %>
        </th>
        <th>
          <%= t('meta.defaults.labels.columns.portals') %>
        </th>
        <th>
          <%= sortable 'collections_count', t('meta.defaults.labels.columns.collections_count') %>
        </th>
        <th>
          <%= sortable 'created_at', t('activerecord.attributes.collection.created_at')  %>
        </th>
        <th>
          <%= sortable 'updated_at', t('activerecord.attributes.collection.updated_at')  %>
        </th>
        <th width="185px"></th>
      </tr>
      </thead>

      <tbody>
      <% @repositories.each do |repository| %>
          <tr>
            <td>
              <%= link_to repository.id, repository_path(repository) %>
            </td>
            <td>
              <%= link_to repository.slug, repository_path(repository) %>
            </td>
            <td>
              <%= repository.title %>
            </td>
            <td>
              <%= portal_badges repository %>
            </td>
            <td>
              <%= link_to(repository.collections.size, collections_path(repository_id: repository.id)) %>
            </td>
            <td>
              <%= time_tag repository.created_at %>
            </td>
            <td>
              <%= time_ago_in_words repository.updated_at %> ago
            </td>
            <td>
              <%= render partial: 'shared/entity_actions', locals: { base_path: repository_path(repository), edit_path: edit_repository_path(repository), entity: repository, show_bl: false } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @repositories %>

<% end %>