<%= content_for :admin_area_title do %>
    Show Admin
<% end %>

<%= content_for :admin_area_subtitle do %>
    <%= @admin.email %>
<% end %>

<%= link_to 'Edit', edit_meta_admin_path(@admin), class: 'btn btn-default' %>

<br><br>

<%= render 'shared/show_field', field_name: t('activerecord.attributes.admin.email'), value: @admin.email %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.admin.creator'), value: @admin.creator.email %>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Roles</strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @admin.roles.each do |role| %>
          <li><%= role.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Repositories Assigned</strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @admin.repositories.each do |r| %>
          <li><%= r.title %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Collections Assigned</strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @admin.collections.each do |c| %>
          <li><%= c.display_title %></li>
      <% end %>
    </ul>
  </div>
</div>


