<%= content_for :admin_area_title do %>
    Items
<% end %>

<%=
    content_for :admin_area_subtitle do
      if params[:collection_id]
        @items.first.collection.display_title if @items.first && @items.first.collection
      else
        'All of them'
      end
    end
%>

<%=
    content_for :sub_menu do
      render 'collections_list'
    end
%>

<div class="well">
  <%= bootstrap_form_tag url: meta_items_path, method: :get do |f| %>
    <%= f.hidden_field :search, value: 1 %>
    <%= f.text_field :keyword, value: params[:keyword] %>
    <%= f.select :collection_id, @search_options[:collections].collect { |c| [c.title, c.id] }, { include_blank: true }, { value: params[:collection_id] } %>
    <%= f.select :repository_id, @search_options[:repositories].collect { |r| [r.title, r.id] }, { include_blank: true }, { value: params[:repository_id] } %>
    <%= f.select :public, @search_options[:public], {}, value: params[:public] %> <!-- todo fix -->
    <%= f.select :dpla, @search_options[:dpla], {}, value: params[:dpla] %> <!-- todo fix -->
    <%= f.primary %>
  <% end %>
</div>

<%= link_to 'Add Item', new_meta_item_path, class: 'btn btn-default' %>

<% if @items.empty? %>

    <p>No items have been added yet.</p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>
            <%= sortable 'id', 'ID' %>
          </th>
          <th>
            <%= sortable 'slug' %>
          </th>
          <th>
            <%= sortable 'dc_title', 'Title' %>
          </th>
          <th>
            <%= sortable 'collection_id', 'Collection' %>
          </th>
          <th width="185px"></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr class="<%= warning_highlight(item) %>">
            <td>
              <%= link_to item.id, meta_item_path(item) %>
            </td>
            <td>
              <%= link_to item.slug, meta_item_path(item) %>
            </td>
            <td>
              <%= item.title %>
            </td>
            <td>
              <%= link_to(item.collection.display_title, meta_collection_path(item.collection)) if item.collection %>
            </td>
            <td>
              <%= render partial: 'shared/entity_actions', locals: { base_path: meta_item_path(item), edit_path: edit_meta_item_path(item), entity: item, show_bl: true } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @items %>

<% end %>
