<%= content_for :admin_area_title do %>
    Items
<% end %>

<%= content_for :admin_area_subtitle do %>
    <%= @data[:count] %> found
<% end %>

<%= link_to 'Search Items', search_meta_items_path, class: 'btn btn-default' %>

<% if @data[:results].empty? %>

    <p>No results found.</p>

<% else %>

    <%= bootstrap_form_tag url: multiple_action_meta_items_path do |f| %>

    <table class='table table-condensed table-hover'>
      <thead>
        <tr>
          <th>
            
          </th>
          <th>
            <%= sortable 'id', 'ID' %>
          </th>
          <th>
            <%= sortable 'slug' %>
          </th>
          <th>
            Title
          </th>
          <th>
            <%= sortable 'collection_id', 'Collection' %>
          </th>
          <th width="185px"></th>
        </tr>
      </thead>

      <tbody>
        <% @data[:results].each do |result| %>
          <tr>
            <td>
              <input type="checkbox" name="ids[]" value="<%= result.id %>">
            </td>
            <td>
              <%= link_to result.id, meta_item_path(result) %>
            </td>
            <td>
              <%= link_to result.slug, meta_item_path(result) %>
            </td>
            <td>
              <%= result.title %>
            </td>
            <td>
              <%= link_to(result.collection.display_title, meta_collection_path(result.collection)) if result.collection %>
            </td>
            <td>
              <%= render partial: 'shared/entity_actions', locals: { base_path: meta_item_path(result), edit_path: edit_meta_item_path(result), entity: result, show_bl: true } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <%= f.primary 'Delete Selected', data: { confirm: 'Are you sure?' } if can?(:multiple_delete, Item) %>
    <%= f.primary 'XML for Selected' if can?(:multiple_xml, Item) %>

    <% end %>

    <%= paginate @data[:results] %>

<% end %>
