<div class="devise-simple-form resend-unlock-form">
  <h1>Resend unlock email</h1>
  <%= bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, autofocus: true, help: false %>
    <%= f.primary 'Resend unlock instructions' %>
  <% end %>
  <%= render 'users/shared/links' %>
</div>