<% content_for :title do %>
    Users
<% end %>

<%= link_to 'Add User', new_user_path, class: 'btn btn-default' %>
<%= link_to 'Invites', auth_invitations_path, class: 'btn btn-default' %>

<%= render 'shared/per_pager' %>

<br><br>

<% if @users.empty? %>

    <p>No Users have been added yet.</p>

<% else %>

  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>
        <%= sortable 'id', 'ID' %>
      </th>
      <th>
        <%= sortable 'email', 'Email' %>
      </th>
      <th>
        Roles
      </th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <% user.roles.each do |role| %>
                <%= role.name %><br />
            <% end %>
          </td>
          <td>
            <%= render partial: 'shared/entity_actions', locals: { base_path: user_path(user), edit_path:  edit_user_path(user), entity: user, show_bl: false } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

    <%= paginate @users %>

<% end %>