<% content_for :title do %>
    Users
<% end %>

<% breadcrumb :users %>

<%= link_to t('meta.user.actions.add'), new_user_path, class: 'btn btn-default' %>
<%= link_to t('meta.user.actions.invites'), auth_invitations_path, class: 'btn btn-default' %>

<%= render 'shared/per_pager' %>

<br><br>

<% if @users.empty? %>

    <%= t('meta.defaults.labels.no_records_found', entity: 'Users') %>

<% else %>

    <%= paginate @users %>

  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>
        <%= sortable 'users.id', t('meta.defaults.labels.columns.id') %>
      </th>
      <th>
        <%= sortable 'users.email', t('meta.user.labels.columns.email') %>
      </th>
      <th>
        <%= t('meta.user.labels.columns.roles') %>
      </th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.roles.join('<br>').html_safe %>
          </td>
          <td>
            <%= render partial: 'shared/entity_actions', locals: { base_path: user_path(user), edit_path:  edit_user_path(user), entity: user, show_bl: false } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

    <%= paginate @users %>

<% end %>