<div class="list-group">
  <strong>
  <%= link_to 'Repositories', meta_repositories_path, class: "list-group-item #{admin_active_class 'repositories'}" %>
  <%= link_to 'Collections', meta_collections_path, class: "list-group-item #{admin_active_class 'collections'}" %>
  <%= link_to 'Items', meta_items_path, class: "list-group-item #{admin_active_class 'items'}" %>
  <%= link_to 'Batches', meta_batches_path, class: "list-group-item #{admin_active_class 'batches'}" %>
  <%= link_to 'Roles', meta_roles_path, class: "list-group-item #{admin_active_class 'roles'}" %>
  <%= link_to 'Admins', meta_admins_path, class: "list-group-item #{admin_active_class 'admins'}" %>
  <%= link_to 'Users', meta_users_path, class: "list-group-item #{admin_active_class 'users'}" %>
  <%= link_to 'Subjects', meta_subjects_path, class: "list-group-item #{admin_active_class 'subjects'}" %>
  </strong>
  <br>
  <%= link_to 'Sign Out', destroy_admin_session_path %>
</div>
