<div class="list-group">
  <strong>
  <%= link_to 'Repositories', admin_repositories_path, class: "list-group-item #{admin_active_class 'repositories'}" %>
  <%= link_to 'Collections', admin_collections_path, class: "list-group-item #{admin_active_class 'collections'}" %>
  <%= link_to 'Items', admin_items_path, class: "list-group-item #{admin_active_class 'items'}" %>
  <%= link_to 'Batches', admin_batches_path, class: "list-group-item #{admin_active_class 'batches'}" %>
  <%= link_to 'Roles', admin_roles_path, class: "list-group-item #{admin_active_class 'roles'}" %>
  <%= link_to 'Users', admin_users_path, class: "list-group-item #{admin_active_class 'users'}" %>
  <%= link_to 'Subjects', admin_subjects_path, class: "list-group-item #{admin_active_class 'subjects'}" %>
  </strong>
</div>
