<h2>Previous Versions</h2>

<table class='table'>
  <thead>
  <tr>
    <th>
      <%= t('meta.versions.labels.columns.version') %>
    </th>
    <th>
      <%= t('meta.versions.labels.columns.date') %>
    </th>
    <th>
      <%= t('meta.versions.labels.columns.author') %>
    </th>
    <th>
      <%= t('meta.versions.labels.columns.event') %>
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% entity.versions.reverse.each do |version| %>
      <tr>
        <td>
          <%= version.index + 1 %>
        </td>
        <td>
          <%= display_date version.created_at %>
        </td>
        <td>
          <%= version_author_name(version) %>
        </td>
        <td>
          <%= version.event.humanize %>
        </td>
        <td>
          <div class="btn-group">
            <%= link_to t('meta.versions.action.diff'), diff_item_item_version_path(entity, version), class: 'btn btn-xs btn-default' %>
            <%= link_to t('meta.versions.action.rollback'), rollback_item_item_version_path(entity, version), method: :patch, class: 'btn btn-xs btn-default' %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>