<%= bootstrap_form_for([@batch, @batch_import], multipart: true) do |f|  %>

  <%= f.alert_message "The XML could not be processed due to the following errors:" %>

  <%= f.text_area :xml, label: t('meta.batch.labels.import.xml_text') %>

  <%= f.file_field :xml_file, label: t('meta.batch.labels.import.xml_file')%>

  <%= f.check_box :bypass_validations, label: t('meta.batch.labels.import.bypass_validations') %>

  <div class="action-buttons">
    <%= f.primary t('meta.defaults.actions.save') %>
  </div>

<% end %>