<%= content_for :title do %>
    Imports for Batch
<% end %>

<%=
  content_for :subtitle do
    @batch.name
  end
%>

<% breadcrumb :batch_imports, @batch %>

<%= link_to(t('meta.batch_import.action.new'), new_batch_batch_import_path(@batch), class: 'btn btn-default') unless @batch.committed? %>

<%= render 'shared/per_pager' %>

<br><br>

<% if @batch_imports.empty? %>

    <p><%= t('meta.defaults.labels.no_records_found', entity: 'Batch Imports') %></p>

<% else %>

    <%= paginate @batch_imports %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'id', t('meta.defaults.labels.columns.id') %>
        </th>
        <th>
          <%= sortable 'format', t('meta.batch_import.labels.columns.format') %>
        </th>
        <th>
          <%= t('meta.batch_import.labels.columns.batch_items') %>
        </th>
        <th>
          <%= t('meta.batch_import.labels.columns.file_name') %>
        </th>
        <th>
          <%= t('meta.batch_import.labels.columns.user') %>
        </th>
        <th>
          <%= t('meta.batch_import.labels.columns.finished') %>
        </th>
        <th width="145px"></th>
      </tr>
      </thead>

      <tbody>
      <% @batch_imports.each do |import| %>
          <tr>
            <td>
              <%= link_to import.id, batch_batch_import_path(@batch, import) %>
            </td>
            <td>
              <%= import.format %>
            </td>
            <td>
              <%= import.batch_items ? import.batch_items.count : '' %>
            </td>
            <td>
              <% if import.file_name %>
                <%= import.file_name %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td>
              <%= import.user.email %>
            </td>
            <td>
              <%= import.completed_at ? import.completed_at : 'Not Yet' %>
            </td>
            <td>
              <div class="btn-group btn-group-xs">
                <%= link_to t('meta.batch_import.action.info'), batch_batch_import_path(@batch, import) , class: 'btn btn-default' %>
                <%= link_to t('meta.batch_import.action.xml'), xml_batch_batch_import_path(@batch, import) , class: 'btn btn-default' %>
                <%= link_to(t('meta.defaults.actions.destroy'), batch_batch_import_path(@batch, import), method: :delete, data: { confirm: t('meta.defaults.labels.confirm') }, class: 'btn btn-default') unless @batch.committed? %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @batch_imports %>

<% end %>
