<%= content_for :title do %>
    Page IIIF
<% end %>

<%= content_for :subtitle do %>
    <%= @page.title %>
<% end %>

<% breadcrumb :page, @page %>

<div id="example-inline-configuration-for-image" class="openseadragon">
  <script type="text/javascript">
      OpenSeadragon({
          id:            "example-inline-configuration-for-image",
          prefixUrl:     "/openseadragon/images/",
          tileSources:   {
              type: 'image',
              url: '<%= @page.iiif_file_link %>',
              buildPyramid: false
          }
      });
  </script>
  <noscript>
    <p>OpenSeadragon is not available unless JavaScript is enabled.</p>
    <img src='<%= @page.iiif_file_link %>'
         height='600'/>
  </noscript>
</div>

<%= openseadragon_picture_tag @page.iiif_file_link %>