<%= bootstrap_form_for([@collection, @collection_resource]) do |f| %>

    <%= f.alert_message t('meta.defaults.messages.errors.invalid_on_save', entity: 'Collection Resource') %>

    <%= f.text_field :slug %>
    <%= f.text_field :title %>
    <%= f.number_field :position %>

    <%= f.text_area :raw_content, class: 'content-input' %>

  <div class="action-buttons">
      <%= f.primary I18n.t('meta.defaults.actions.save'), class: 'btn btn-primary fixed-save-button' %>
  </div>

<% end %>