<% content_for :admin_area_title do %>
    Admin Users
<% end %>

<%= link_to 'Add Admin User', new_meta_admin_path, class: 'btn btn-default' %>

<br><br>

<% if @admins.empty? %>

    <p>No Admin users have been added yet.</p>

<% else %>

  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>
        <%= sortable 'id', 'ID' %>
      </th>
      <th>
        <%= sortable 'email', 'Email' %>
      </th>
      <th>
        Roles
      </th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @admins.each do |admin| %>
        <tr>
          <td>
            <%= admin.id %>
          </td>
          <td>
            <%= admin.email %>
          </td>
          <td>
            <% admin.roles.each do |role| %>
                <%= role.name %><br />
            <% end %>
          </td>
          <td>
            <%= render partial: 'shared/entity_actions', locals: { base_path: meta_admin_path(admin), edit_path:  edit_meta_admin_path(admin), entity: admin, show_bl: false } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

    <%= paginate @admins %>

<% end %>