<div class='row mt'>
  <div class='col-sm-12'>
    <h2><%= "Diff between Version #{@version.id} and Current Version" %></h2>
    <p>Current version changes are highlighted in green.</p>
    <p><%= "Version authored by #{version_author_name(@version)} on #{@version.created_at} by '#{@version.event.humanize}'." %></p>
    <style><%= Diffy::CSS %></style>
      <% @item.attributes.symbolize_keys.except(:id, :created_at, :updated_at).each do |attr,val| %>
        <% diff = diff(@version.reify[attr], @item[attr]) %>
        <% if diff %>
            <div class='well diff'>
              <p>
                <strong><%= t("activerecord.attributes.item.#{attr}") %></strong>
                <%= diff %>
              </p>
            </div>
        <% end %>
      <% end %>
  </div>
</div>
<div class='fr'>
  <%= link_to 'Back', item_path(@item), class: 'btn btn-default' %>
  <%= link_to 'Rollback to This Version', rollback_item_version_path(@item, @version), class: 'btn btn-primary', method: :patch %>
</div>