<%
    d = document
    id, title, klass = ''
    klass, id = d[:sunspot_id_ss].split(' ') if d[:sunspot_id_ss]
    slug = d[:slug_ss]
    public = d[:public_display]
    title = d[:dcterms_title_display].first if d[:dcterms_title_display]
    collection = d[:collection_name_ss]
    repository = d[:repository_name_ss]
%>

<div class="row">
  <div class="col-md-1">
    <input type="checkbox" name="ids[]" value="<%= id %>">
  </div>
  <div class="col-md-8">
    <table class="table table-condensed table-responsive table-bordered">
      <tr>
        <th>Type</th>
        <td><%= klass %></td>
      </tr>
      <tr>
        <th>Slug</th>
        <td><%= slug %></td>
      </tr>
      <tr>
        <th>Title</th>
        <td><%= title.truncate(80) if title %></td>
      </tr>
      <tr>
        <th>Public?</th>
        <td><%= boolean_check_icon(public) %></td>
      </tr>
      <% if collection %>
        <tr>
          <th>Collection</th>
          <td><%= collection %></td>
        </tr>
      <% end %>
      <% if repository %>
        <tr>
          <th>Repository</th>
          <td><%= repository %></td>
        </tr>
      <% end %>
      <tr>
        
      </tr>
    </table>
  </div>
  <div class="col-md-2">
    <%= render partial: 'results_row_actions', locals: { klass: klass, id: id, slug: slug} %>
  </div>
</div>