<%= content_for :admin_area_title do %>
    Subjects
<% end %>

<%= link_to 'Add Subject', new_subject_path, class: 'btn btn-default' %>

<% if @subjects.empty? %>

    <p>No Subjects have been added yet.</p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'id', 'ID' %>
        </th>
        <th>
          <%= sortable 'name' %>
        </th>
        <th width="185px"></th>
      </tr>
      </thead>

      <tbody>
      <% @subjects.each do |subject| %>
          <tr>
            <td>
              <%= link_to subject.id, subject %>
            </td>
            <td>
              <%= link_to subject.name, subject %>
            </td>
            <td>
              <%= render partial: 'shared/entity_actions', locals: { entity: subject, show_bl: false } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @subjects %>

<% end %>


