<%= content_for :title do %>
    Subjects
<% end %>

<% breadcrumb :subjects %>

<%= link_to t('meta.subject.actions.add'), new_subject_path, class: 'btn btn-default' %>

<% if @subjects.empty? %>

    <p><%= 'No Subjects Yet' %></p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th><%= sortable 'subjects.id', t('meta.defaults.labels.columns.id') %></th>
        <th><%= sortable 'subjects.name', t('meta.defaults.labels.columns.name') %></th>
        <th width="185px"></th>
      </tr>
      </thead>

      <tbody>
        <% @subjects_presenter.each do |subject| %>
          <tr>
            <td><%= subject.id_link %></td>
            <td><%= subject.name_link %></td>
            <td><%= subject.entity_actions %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<%= paginate @subjects %>

<%= console %>




