<%= content_for :title do %>
    Subjects
<% end %>

<% breadcrumb :subjects %>

<%= link_to t('meta.subject.actions.add'), new_subject_path, class: 'btn btn-default' %>

<% if @subjects.empty? %>

    <p><%= 'No Subjects Yet' %></p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th><%= subjects.id_header %></th>
        <th><%= subjects.name_header %></th>
        <th width="185px"></th>
      </tr>
      </thead>

      <tbody>
      <% subjects.each do |subject| %>
          <tr>
            <td><%= subject.id_link %></td>
            <td><%= subject.name_link %></td>
            <td><%= subject.entity_actions%></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @subjects %>
<% end %>


