<%= content_for :title do %>
    Show Subject
<% end %>

<%= content_for :subtitle do %>
    <%= @subject_presenter.name %>
<% end %>

<% breadcrumb :subject, @subject_presenter %>

<%= @subject_presenter.edit_button %>

<br><br>

<%= @subject_presenter.name_field %>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t('meta.subject.labels.view.collections_for') %></strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @subject_presenter.collections.each do |c| %>
          <li><%= link_to c.display_title, c %></li>
      <% end %>
    </ul>
  </div>
</div>
