<%= content_for :title do %>
    Roles
<% end %>

<% breadcrumb :roles %>

<%= link_to t('meta.role.action.add'), new_role_path, class: 'btn btn-default' %>


<% if @roles.empty? %>

    <p><%= t('meta.defaults.labels.no_records_found', entity: 'Roles') %></p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'id', t('meta.defaults.labels.columns.id') %>
        </th>
        <th>
          <%= sortable 'name', t('meta.defaults.labels.columns.name') %>

        </th>
        <th width="185px"></th>
      </tr>
      </thead>

      <tbody>
      <% @roles.each do |role| %>
          <tr>
            <td>
              <%= link_to role.id, role %>
            </td>
            <td>
              <%= link_to role.name, role %>
            </td>
            <td>
              <%= render partial: 'shared/entity_actions', locals: { base_path: role_path(role), edit_path: edit_role_path(role), entity: role, show_bl: false } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
