<% content_for :title do %>
    Deleted Items
<% end %>
<table class='table'>
  <thead>
  <tr>
    <th>ID</th>
    <th>Slug</th>
    <th>Title</th>
    <th>Deleted by</th>
    <th>At</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @item_versions.each do |item_version| %>
      <% item = item_version.reify %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.slug %></td>
        <td><%= item.title %></td>
        <td><%= version_author_name(item_version) %></td>
        <td><%= item.created_at %></td>
        <td><%= link_to 'Restore', restore_version_path(item_version), method: :patch %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', items_path %>