<%= content_for :title do %>
    Edit Item
<% end %>

<%= content_for :subtitle do %>
    <%= @item.title %>
<% end %>

<% breadcrumb :item, @item %>

<div class="search-result-navigation">

  <% if current_search_session %>
      <%= link_back_to_catalog class: 'btn btn-link' %>
      <%= link_to t('blacklight.search.start_over'), start_over_path(current_search_session.try(:query_params) || {}), id: 'startOverLink', class: 'btn btn-link' %>
  <% end %>

  <% if @previous_document || @next_document %>
      <div class="page_links pull-right">
        <%= link_to_edit_previous_document @previous_document %> |

        <%= item_page_entry_info %> |

        <%= link_to_edit_next_document @next_document %>
      </div>
  <% end %>

</div>

<div id="floating-form-navigation" class="panel panel-default">
  <div class="panel-heading">
    <strong>Jump To</strong>
  </div>
  <div class="panel-body">
    <%= link_to t('meta.defaults.actions.save'), '#', class: 'floating-save-button btn btn-primary btn-block' %>
  </div>
  <div class="list-group">
    <% multivalued_fields.each do |f| %>
        <%= link_to t("meta.search.labels.#{f}"), "##{f}", { class: 'list-group-item form-jump-link', 'data-turbolinks': false } %>
    <% end %>
  </div>
</div>

<%= render 'form' %>
