<%= content_for :title do %>
    Items
<% end %>

<%=
    content_for :subtitle do
      if @items.empty?
        'None'
      elsif params[:collection_id] && !params[:collection_id].empty?
         "For #{@items.first.collection.display_title}"
      else
        'All of them'
      end
    end
%>

<% breadcrumb :items %>

<%= link_to 'Add Item', new_item_path, class: 'btn btn-default' %>

<%# link_to 'Search Items', search_items_path, class: 'btn btn-default' %>

<%= render 'shared/per_pager' %>

<br><br>

<div class="well well-sm">
  <%= bootstrap_form_tag url: items_path, method: :get, layout: :horizontal, label_col: 'col-sm-1', control_col: 'col-sm-11' do |f| %>
      <%= f.hidden_field :direction, { value: params[:direction], name: 'direction' } if params[:direction] %>
      <%= f.hidden_field :sort, { value: params[:sort], name: 'sort' } if params[:sort] %>
      <%= f.hidden_field :per_page, { value: params[:per_page], name: 'per_page' } if params[:per_page] %>
      <%= f.select :collection_id, options_for_select(@search_options[:collections].collect { |c| [c.display_title, c.id] }, selected: params[:collection_id] ), { include_blank: true }, { name: 'collection_id' } %>
      <%= f.select :public, options_for_select(@search_options[:public], selected: params[:public]), { label: 'Public'}, { name: 'public' } %>
      <%= f.primary 'Filter' %>
      <%# f.primary 'Reset' %>
  <% end %>
</div>

<% if @items.empty? %>

    <p>No items found.</p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>
            <%= sortable 'id', 'ID' %>
          </th>
          <th>
            <%= sortable 'slug' %>
          </th>
          <th>
            <%= sortable 'dc_title', 'Title' %>
          </th>
          <th>
            <%= sortable 'public', 'Public?' %>
          </th>
          <th>
            <%= sortable 'collection_id', 'Collection' %>
          </th>
          <th width="185px"></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr class="<%= warning_highlight(item) %>">
            <td>
              <%= link_to item.id, item_path(item) %>
            </td>
            <td>
              <%= link_to item.slug, item_path(item) %>
            </td>
            <td>
              <%= item.title %>
            </td>
            <td>
              <%= boolean_check_icon item.public %>
            </td>
            <td>
              <%= link_to(item.collection.display_title, collection_path(item.collection)) if item.collection %>
            </td>
            <td>
              <%= render partial: 'shared/entity_actions', locals: { base_path: item_path(item), edit_path: edit_item_path(item), entity: item, show_bl: true } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @items %>

<% end %>
