<%= content_for :title do %>
    Items
<% end %>

<%=
    content_for :subtitle do
      if params[:search]
        'Search Results'
      else
        'All of them'
      end
    end
%>


<%= link_to 'Add Item', new_item_path, class: 'btn btn-default' %>

<%= link_to 'Search Items', search_items_path, class: 'btn btn-default' %>

<% if @items.empty? %>

    <p>No items found.</p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>
            <%= sortable 'id', 'ID' %>
          </th>
          <th>
            <%= sortable 'slug' %>
          </th>
          <th>
            <%= sortable 'dc_title', 'Title' %>
          </th>
          <th>
            <%= sortable 'public', 'Public?' %>
          </th>
          <th>
            <%= sortable 'collection_id', 'Collection' %>
          </th>
          <th width="185px"></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr class="<%= warning_highlight(item) %>">
            <td>
              <%= link_to item.id, item_path(item) %>
            </td>
            <td>
              <%= link_to item.slug, item_path(item) %>
            </td>
            <td>
              <%= item.title %>
            </td>
            <td>
              <%= boolean_check_icon item.public %>
            </td>
            <td>
              <%= link_to(item.collection.display_title, collection_path(item.collection)) if item.collection %>
            </td>
            <td>
              <%= render partial: 'shared/entity_actions', locals: { base_path: item_path(item), edit_path: edit_item_path(item), entity: item, show_bl: true } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @items %>

<% end %>
