<%= content_for :admin_area_title do %>
    Items
<% end %>

<%= link_to 'Add Item', new_item_path, class: 'btn btn-default' %>

<% if @items.empty? %>

    <p>No items have been added yet.</p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Slug</th>
          <th>Title</th>
          <th>Collection</th>
          <th width="185px"></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td>
              <%= link_to item.id, item %>
            </td>
            <td>
              <%= link_to item.slug, item %>
            </td>
            <td>
              <%= item.dc_title.first %>
            </td>
            <td>
              <%= link_to item.collection.display_title, item.collection %>
            </td>
            <td>
              <div class="btn-group btn-group-xs">
                <%= link_to 'View', item, class: 'btn btn-default' %>
                <%= link_to 'BL View', solr_document_path(item.slug), class: 'btn btn-default' %>
                <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-default' %>
                <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

<% end %>
