<%= content_for :title do %>
    Items
<% end %>

<%=
    content_for :subtitle do
      if @items.length.zero?
        t('meta.defaults.labels.filtered_empty_subtitle')
      elsif params[:collection_id] && !params[:collection_id].empty?
         t('meta.defaults.labels.filtered_by_subtitle', title: @items.first.collection.display_title)
      else
        t('meta.defaults.labels.unfiltered_index_subtitle')
      end
    end
%>

<% breadcrumb :items %>

<%= link_to t('meta.item.actions.add'), new_item_path, class: 'btn btn-default' %>
<%= link_to t('meta.item.actions.deleted'), deleted_items_path, class: 'btn btn-default' %>

<%= render 'shared/per_pager' %>

<br><br>

<div class="well well-sm index-filter-area">
  <%= bootstrap_form_tag url: items_path, method: :get, layout: :horizontal, label_col: 'col-sm-1', control_col: 'col-sm-11' do |f| %>
      <%= f.hidden_field :direction, { value: h(params[:direction]), name: 'direction' } if params[:direction] %>
      <%= f.hidden_field :sort, { value: h(params[:sort]), name: 'sort' } if params[:sort] %>
      <%= f.hidden_field :per_page, { value: h(params[:per_page]), name: 'per_page' } if params[:per_page] %>
      <%= f.select :portal_id, options_for_select(@search_options[:portals].collect { |p| [p.name, p.id] }, selected: params[:portal_id]), { label: t('meta.defaults.labels.filter.portals'), include_blank: false }, { name: 'portal_id[]', class: 'fancy-multiselect portals-filter', multiple: true } %>
      <%= f.select :collection_id, options_for_select(@search_options[:collections].collect { |c| [c.display_title, c.id] }, selected: h(params[:collection_id]) ), { label: t('meta.defaults.labels.filter.collection'), include_blank: true }, { name: 'collection_id', class: 'fancy-select' } %>
      <%= f.select :public, options_for_select(@search_options[:public], selected: h(params[:public])), { label: t('meta.defaults.labels.filter.public') }, { name: 'public' } %>
      <%= f.select :valid_item, options_for_select(@search_options[:valid_item], selected: h(params[:valid_item])), { label: t('meta.defaults.labels.filter.valid_item') }, { name: 'valid_item' } %>
      <%= f.primary t('meta.defaults.labels.filter.filter_button') %>&nbsp;<span class="pull-right"><span class="badge"><%= @items.count %></span> records shown of <span class="badge"><%= @items.total_count %></span> total records <div class="btn-group" role="group" aria-label="Download Formats"><% if @items.total_count < 100000 %><%= link_to '<span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Bag CSV</a></span>'.html_safe, params.merge(format: :csv), class: 'btn btn-primary' %> <% if @items.total_count <= 5000 %><%= link_to '<span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> XML</a></span>'.html_safe, params.merge(format: :xml), class: 'btn btn-primary' %><% end %><% end %></div></span>
  <% end %>

</div>

<% if @items.length.zero? %>

    <p><%= t('meta.defaults.labels.no_records_found', entity: 'Items') %></p>

<% else %>

    <%= paginate @items %>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>
            <%= sortable 'items.id', t('meta.defaults.labels.columns.id') %>
          </th>
          <th>
            <%= sortable 'items.slug', t('meta.defaults.labels.columns.slug') %>
          </th>
          <th>
            <%= sortable 'items.dcterms_title', t('meta.defaults.labels.columns.title') %>
          </th>
          <th >
            <%= sortable 'items.public', t('meta.defaults.labels.columns.public') %>
          </th>
          <th>
            <%= sortable 'items.valid_item', t('meta.defaults.labels.columns.valid') %>
          </th>
          <th>
            <%= t('meta.item.labels.columns.collection') %>
          </th>
          <th>
            <%= t('meta.defaults.labels.columns.portals') %>
          </th>
          <th>
            <%= sortable 'items.created_at', t('activerecord.attributes.item.created_at')  %>
          </th>
          <th>
            <%= sortable 'items.updated_at', t('activerecord.attributes.item.updated_at')  %>
          </th>
          <th width="185px"></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td>
              <%= link_to item.id, item_path(item) %>
            </td>
            <td>
              <%= link_to item.slug, item_path(item) %>
            </td>
            <td>
              <%= item.title %>
            </td>
            <td>
              <%= boolean_check_icon item.public %>
            </td>
            <td>
              <%= item_validation_status item %>
            </td>
            <td>
              <%= link_to item.collection.display_title, collection_path(item.collection) %>
            </td>
            <td>
              <%= portal_badges item %>
            </td>
            <td>
              <%= time_tag item.created_at %>
            </td>
            <td>
              <%= time_ago_in_words item.updated_at %> ago
            </td>
            <td>
              <%= render partial: 'shared/entity_actions', locals: { base_path: item_path(item), edit_path: edit_item_path(item), entity: item, show_bl: true } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @items %>

<% end %>
