<%= content_for :title do %>
    Show Item
<% end %>

<%= content_for :subtitle do %>
    <%= @item.title %>
<% end %>

<% breadcrumb :item, @item %>

<div class="btn-group" role="group" aria-label="Item actions">
  <%= link_to t('meta.defaults.actions.edit'), edit_item_path(@item), class: 'btn btn-default' %>
  <%= link_to t('meta.item.actions.copy'), copy_item_path(@item), class: 'btn btn-default', data: { confirm: 'Are you sure?' } %>
  <%= link_to I18n.t('meta.item.actions.pages'), item_pages_path(@item), class: 'btn btn-default'  %>
  <%= link_to t('meta.item.actions.xml'), '#xml' , class: 'btn btn-default', data: { turbolinks: false } %>
  <%= link_to t('meta.item.actions.versions'), '#versions' , class: 'btn btn-default', data: { turbolinks: false } %>
  <%= link_to(t('meta.item.actions.full_text'), fulltext_item_path , class: 'btn btn-default') unless @item.fulltext.blank? %>
</div>

<br><br>

<% if @item.pages.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <%= openseadragon_picture_tag @item.page_urls, { data: { openseadragon: { sequenceMode: true }}} %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'shared/show_field', field_name: t('meta.item.labels.view.thumbnail'), value: legacy_thumbnail_tag(@item) %>

<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.portal_ids'), value: portals_list(@item) %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.collection_id'), value: @item.collection.display_title %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.record_id'), value: @item.record_id %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.slug'), value: @item.slug %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.dpla'), value: @item.dpla %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.public'), value: @item.public %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.local'), value: @item.local %>

<%= render partial: 'shared/show_dc_fields', locals: { entity: @item} %>

<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.created_at'), value: display_date(@item.created_at) %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.updated_at'), value: display_date(@item.updated_at) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t('activerecord.attributes.item.other_collections') %></strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @item.other_collection_titles.each do |c| %>
          <li><%= c %></li>
      <% end %>
    </ul>
  </div>
</div>

<% if @item.batch_items.any? %>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t('meta.item.labels.view.committed_batch_items') %></strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @item.batch_items.each do |bi| %>
          <% if bi.batch.committed? %>
            <li>Batch <em><%= bi.batch.name %></em>: <%= link_to display_date(bi.batch.committed_at), batch_batch_item_path(bi.batch, bi) %></li>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>

<% end %>

<a name="xml"></a>
<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t('meta.item.actions.xml')%></strong><%= link_to 'Select All', '#xml', { data: { container_id: 'record_xml', turbolinks: false }, class: 'select-element-text btn btn-xs btn-primary pull-right' } %>
  </div>
  <div class="panel-body">
    <pre id="record_xml"><%= @item.to_xml %></pre>
  </div>
</div>

<a name="versions"></a>
<%= render 'shared/versions', entity: @item %>