<%= content_for :title do %>
    Show Item
<% end %>

<%= content_for :subtitle do %>
    <%= @item.title %>
<% end %>

<% breadcrumb :item, @item %>

<%= link_to t('meta.defaults.actions.edit'), edit_item_path(@item), class: 'btn btn-default' %>
<%= link_to t('meta.item.actions.copy'), copy_item_path(@item), class: 'btn btn-default', data: { confirm: 'Are you sure?' } %>
<%= link_to t('meta.item.actions.xml'), '#xml' , class: 'btn btn-default' %>
<%= link_to t('meta.item.actions.versions'), '#versions' , class: 'btn btn-default' %>

<br><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t('meta.item.labels.view.thumbnail') %></strong>
  </div>
  <div class="panel-body">
    <%= legacy_thumbnail_tag @item %>
  </div>
</div>

<%= render('shared/show_field', field_name: t('activerecord.attributes.item.collection_id'), value: @item.collection.display_title) if @item.collection %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.slug'), value: @item.slug %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.dpla'), value: @item.dpla %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.public'), value: @item.public%>

<%= render partial: 'shared/show_dc_fields', locals: { entity: @item} %>

<%= render 'shared/show_multivalued_field', field_name: t('activerecord.attributes.item.dlg_local_right'), values: @item.dlg_local_right %>

<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.created_at'), value: @item.created_at %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.item.updated_at'), value: @item.updated_at %>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t('meta.item.labels.view.other_collections') %></strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @item.other_collections.each do |c| %>
          <li><%= c %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t('meta.item.labels.view.committed_batch_items') %></strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @item.batch_items.each do |bi| %>
          <li>Batch <em><%= bi.batch.name %></em>: <%= link_to bi.batch.committed_at, batch_batch_item_path(bi.batch, bi) if bi.batch.committed? %></li>
      <% end %>
    </ul>
  </div>
</div>

<a name="xml"></a>
<pre><%= @item.to_xml %></pre>

<a name="versions"></a>
<%= render 'shared/versions', entity: @item %>