<%= content_for :title do %>
    Commit Batch
<% end %>

<%=
  content_for :subtitle do
    @batch.name
  end
%>

<% breadcrumb :batch, @batch %>

<h3>
  <%= t('meta.batch.labels.to_commit', count: @batch.batch_items.length) %>
</h3>

<%= bootstrap_form_tag url: commit_batch_path(@batch), html: { id: 'commit_form' } do |f| %>
    <%= f.primary 'Commit' %>
<% end %>