<%= content_for :title do %>
    Committed Batches
<% end %>

<%=
  content_for :subtitle do
    if params[:admin_id] && @user
      'For ' + @user.email
    else
      'All of them'
    end
  end
%>

<% breadcrumb :batches_committed %>

<%= link_to 'Add Batch', new_batch_path, class: 'btn btn-default' %>

<%= render 'shared/per_pager' %>

<br><br>

<% if @batches.empty? %>

    <p>No Batches have been committed yet.</p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'id', 'ID' %>
        </th>
        <th>
          <%= sortable 'name' %>
        </th>
        <th>
          Item Count
        </th>
        <th>
          Creator
        </th>
        <th width="135px"></th>
      </tr>
      </thead>

      <tbody>
      <% @batches.each do |batch| %>
          <tr>
            <td>
              <%= link_to batch.id, batch %>
            </td>
            <td>
              <%= link_to batch.name, batch %>
            </td>
            <td>
              <%= link_to batch.batch_items.size, batch_batch_items_path(batch_id: batch.id) %>
            </td>
            <td>
              <%= batch.user.email %>
            </td>
            <td>
              <%= content_tag :div, class: 'btn-group btn-group-xs', role: 'group' do %>
                <%= link_to 'View', batch, class: 'btn btn-default' %>
                <%= link_to 'Results', results_batch_path(batch), class: 'btn btn-default'  %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @batches %>

<% end %>

