<%= content_for :title do %>
     Batches
<% end %>

<% breadcrumb :batches %>

<%= link_to 'Add Batch', new_batch_path, class: 'btn btn-default' %>

<%= render 'shared/per_pager' %>

<br><br>

<% if current_user.super? or current_user.coordinator? %>
  <div class="well well-sm">
    <%= bootstrap_form_tag url: batches_path, method: :get, layout: :horizontal, label_col: 'col-sm-1', control_col: 'col-sm-11' do |f| %>
        <%= f.hidden_field :direction, { value: params[:direction], name: 'direction' } if params[:direction] %>
        <%= f.hidden_field :sort, { value: params[:sort], name: 'sort' } if params[:sort] %>
        <%= f.hidden_field :per_page, { value: params[:per_page], name: 'per_page' } if params[:per_page] %>
        <%= f.select :user_id, options_for_select(@search_options[:users].collect { |c| [c.email, c.id] }, selected: params[:user_id] ), { include_blank: true }, { name: 'user_id' } %>
        <%= f.select :status, options_for_select(@search_options[:status], selected: params[:status]), { include_blank: true }, { name: 'status' } %>
        <%= f.primary 'Filter' %>
    <% end %>
  </div>
<% end %>

<% if @batches.empty? %>

    <p>No Batches found.</p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'id', 'ID' %>
        </th>
        <th>
          <%= sortable 'name' %>
        </th>
        <th>
          Item Count
        </th>
        <th>
          Creator
        </th>
        <th>
          Committed
        </th>
        <th width="140px"></th>
      </tr>
      </thead>

      <tbody>
      <% @batches.each do |batch| %>
          <tr>
            <td>
              <%= link_to batch.id, batch %>
            </td>
            <td>
              <%= link_to batch.name, batch %>
            </td>
            <td>
              <%= link_to batch.batch_items.size, batch_batch_items_path(batch_id: batch.id) %>
            </td>
            <td>
              <%= batch.user.email %>
            </td>
            <td>
              <%= batch.committed? ? batch.committed_at : 'Not Yet'  %>
            </td>
            <td>
              <div class="btn-group btn-group-xs">
                <%= link_to 'View', batch, class: 'btn btn-default' %>
                <% if batch.committed? %>
                    <%= link_to 'Results', results_batch_path(batch), class: 'btn btn-default' %>
                <% else %>
                    <%= link_to 'Edit', edit_batch_path(batch), class: 'btn btn-default' %>
                    <%= link_to 'Delete', batch, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
                <% end %>
              </div>

            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @batches %>

<% end %>

