<%= content_for :title do %>
     Batches
<% end %>

<% breadcrumb :batches %>

<%= link_to t('meta.batch.actions.add'), new_batch_path, class: 'btn btn-default' %>

<%= render 'shared/per_pager' %>

<br><br>

<% if current_user.super? or current_user.coordinator? %>
  <div class="well well-sm">
    <%= bootstrap_form_tag url: batches_path, method: :get, layout: :horizontal, label_col: 'col-sm-1', control_col: 'col-sm-11' do |f| %>
        <%= f.hidden_field :direction, { value: h(params[:direction]), name: 'direction' } if params[:direction] %>
        <%= f.hidden_field :sort, { value: h(params[:sort]), name: 'sort' } if params[:sort] %>
        <%= f.hidden_field :per_page, { value: h(params[:per_page]), name: 'per_page' } if params[:per_page] %>
        <%= f.select :user_id, options_for_select(@search_options[:users].collect { |c| [c.email, c.id] }, selected: params[:user_id] ), { include_blank: true, label: t('meta.defaults.labels.filter.user') }, { name: 'user_id' } %>
        <%= f.select :status, options_for_select(@search_options[:status], selected: params[:status]), { include_blank: true, label: t('meta.defaults.labels.filter.status') }, { name: 'status' } %>
        <%= f.primary t('meta.defaults.actions.filter') %>
    <% end %>
  </div>
<% end %>

<% if @batches.empty? %>

    <p><%= t('meta.defaults.labels.no_records_found', entity: 'Batches') %></p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'id', t('meta.defaults.labels.columns.id') %>
        </th>
        <th>
          <%= sortable 'name', t('meta.defaults.labels.columns.name') %>
        </th>
        <th>
          <%= t('meta.defaults.labels.columns.items_count') %>
        </th>
        <th>
          <%= t('meta.batch.labels.columns.creator') %>
        </th>
        <th>
          <%= t('meta.batch.labels.columns.committed') %>
        </th>
        <th width="140px"></th>
      </tr>
      </thead>

      <tbody>
      <% @batches.each do |batch| %>
          <tr>
            <td>
              <%= link_to batch.id, batch %>
            </td>
            <td>
              <%= link_to batch.name, batch %>
            </td>
            <td>
              <%= link_to batch.batch_items.size, batch_batch_items_path(batch_id: batch.id), class: 'count-link' %>
            </td>
            <td>
              <%= batch.user.email %>
            </td>
            <td>
              <%= commit_status_for batch %>
            </td>
            <td>
              <div class="btn-group btn-group-xs">
                <%= link_to t('meta.defaults.actions.view'), batch, class: 'btn btn-default' %>
                <% if batch.committed? %>
                    <%= link_to t('meta.batch.actions.results'), results_batch_path(batch), class: 'btn btn-default' %>
                <% else %>
                    <%= link_to t('meta.defaults.actions.edit'), edit_batch_path(batch), class: 'btn btn-default' %>
                    <%= link_to t('meta.defaults.actions.destroy'), batch, method: :delete, data: { confirm: t('meta.defaults.labels.confirm') }, class: 'btn btn-default' %>
                <% end %>
              </div>

            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @batches %>

<% end %>

