<%= content_for :admin_area_title do %>
    Batches
<% end %>

<%=
  content_for :admin_area_subtitle do
    if params[:user_id] && @user
      'For ' + @user.email
    else
      'All of them'
    end
  end
%>

<%=
  content_for :sub_menu do
    render 'batch_users_list' if @users
  end
%>

<%= link_to 'Add Batch', new_batch_path, class: 'btn btn-default' %>

<% if @batches.empty? %>

    <p>No Batches have been added yet.</p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'id', 'ID' %>
        </th>
        <th>
          <%= sortable 'name' %>
        </th>
        <th>
          <%= sortable 'contained_count', 'Contained Count' %>
        </th>
        <th>
          Creator
        </th>
        <th width="185px"></th>
      </tr>
      </thead>

      <tbody>
      <% @batches.each do |batch| %>
          <tr>
            <td>
              <%= link_to batch.id, batch %>
            </td>
            <td>
              <%= link_to batch.name, batch %>
            </td>
            <td>
              <%= link_to batch.batchitems_count, batch_batch_items_path(batch_id: batch.id) %>
            </td>
            <td>
              <%= batch.user.email %>
            </td>
            <td>
              <%= render partial: 'shared/entity_actions', locals: { entity: batch, show_bl: false } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @batches %>

<% end %>

