<%= content_for :title do %>
    Batch Commit Results
<% end %>

<% breadcrumb :batch_results, @batch %>

<% if @batch.commit_results['items'].present? %>

  <h3><%= t('meta.batch.labels.successful') %></h3>

  <table class="table table-condensed table-hover successfully-committed-results-table">
    <thead>
    <tr>
      <th>
        <%= t('meta.batch.labels.columns.number') %>
      </th>
      <th>
        <%= t('meta.defaults.labels.columns.slug') %>
      </th>
      <th>
        <%= t('meta.batch.labels.columns.updated_record') %>
      </th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% i = 1 %>
    <% @batch.commit_results['items'].each do |r| %>
      <% if r['item'] %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <%= r['slug'] %>
          </td>
          <td>
            <%= boolean_check_icon r['item_updated'] %>
          </td>
          <td>
            <%= link_to 'View Item', item_path(r['item']), class: 'btn btn-default btn-xs' %>
          </td>
        </tr>
        <% i += 1 %>
      <% end %>
    <% end %>
    </tbody>
  </table>

<% end %>