<%= content_for :title do %>
    Show Batch
<% end %>

<% creator = @batch.try(:user) ? @batch.user.email : t('meta.batch.labels.deleted_user') %>

<%= content_for :subtitle do %>
    <%= @batch.name %> by <%= creator %>
<% end %>

<% breadcrumb :batch, @batch %>

<div class="btn-group" role="group" aria-label="Batch Actions">
  <%= link_to t('meta.defaults.actions.edit'), edit_batch_path(@batch), class: 'btn btn-default' if !@batch.committed? and can? :edit, @batch %>
  <%= link_to t('meta.batch.actions.commit'), commit_form_batch_path(@batch), class: 'btn btn-default' if !@batch.committed? and can? :commit, @batch  %>
  <%= link_to t('meta.batch.actions.recreate'), recreate_batch_path(@batch), method: :post, class: 'btn btn-default' if @batch.committed? and can? :recreate, @batch %>
  <%= link_to t('meta.batch.actions.batch_items'), batch_batch_items_path(@batch), class: 'btn btn-default' %>
  <%= link_to t('meta.batch.actions.batch_imports'), batch_batch_imports_path(@batch), class: 'btn btn-default' %>
</div>

<br><br>

<%= render 'shared/show_field', field_name: t('activerecord.attributes.batch.user_id'),           value: creator  %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.batch.name'),              value: @batch.name %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.batch.notes'), value: @batch.notes %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.batch.committed_at'),      value: @batch.committed_at %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.batch.updated_at'),        value: @batch.updated_at %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.batch.created_at'),        value: @batch.created_at %>