<%= content_for :admin_area_title do %>
    Show Collection
<% end %>

<%= content_for :admin_area_subtitle do %>
    <%= @collection.display_title %>
<% end %>

<%= link_to 'Edit', edit_admin_collection_path(@collection), class: 'btn btn-default' %>
<%= link_to 'Collection XML', '#xml' , class: 'btn btn-default' %>
<%= link_to 'XML For Included Items', '#item_xml' , class: 'btn btn-default' %>

<br><br>

<%= render('shared/show_field', field_name: t('activerecord.attributes.collection.repository_id'), value: @collection.repository.title) if @collection.repository %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.slug'), value: @collection.slug %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.display_title'), value: @collection.display_title %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.short_description'), value: @collection.short_description %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.teaser'), value: @collection.teaser %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.in_georgia'), value: @collection.in_georgia %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.remote'), value: @collection.remote %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.public'), value: @collection.public%>

<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.color'), value: @collection.color %>

<%= render partial: 'shared/show_dc_fields', locals: { entity: @collection } %>

<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.created_at'), value: @collection.created_at %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.collection.updated_at'), value: @collection.updated_at %>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Other Repositories</strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @collection.other_repositories.each do |r| %>
          <li><%= r %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Subjects</strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @collection.subjects.each do |s| %>
          <li><%= s.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<a name="item_xml"></a>
<pre><%= @collection.items.to_xml %></pre>

<a name="xml"></a>
<pre><%= @collection.to_xml({show_repository: true}) %></pre>