<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
<ul class="dropdown-menu">
  <%= content_tag :li, link_to('Repositories', repositories_path) if user.can? :index, Repository %>
  <%= content_tag :li, link_to('Collections', collection_path) if user.can? :index, Collection%>
  <%= content_tag :li, link_to('Items', items_path) if user.can? :index, Item %>
  <%= content_tag :li, link_to('Batches', batches_path) if user.can? :index, Batch %>
  <%= content_tag :li, link_to('Roles', roles_path) if user.can? :index, Role %>
  <%= content_tag :li, link_to('Users', users_path) if user.can? :index, User %>
  <%= content_tag :li, link_to('Subjects', subjects_path) if user.can? :index, Subject %>
</ul>
