<%= content_for :title do %>
  Pending Invitations
<% end %>

<% breadcrumb :invitations %>

<%= link_to t('meta.invitations.action.add'), new_user_invitation_path, class: 'btn btn-default' %>

<br><br>

<% if @pending_invitations.empty? %>

    <p><%= t('meta.defaults.labels.no_records_found', entity: 'pending invitations') %></p>

<% else %>

    <table class="table tale-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= t('meta.invitations.labels.columns.email') %>
        </th>
        <th>
          <%= t('meta.invitations.labels.columns.invited_on') %>
        </th>
        <th>
          <%= t('meta.invitations.labels.columns.invited_by') %>
        </th>
        <th>

        </th>
      </tr>
      </thead>
      <tbody>
        <% @pending_invitations.each do |i| %>
        <tr>
          <td>
            <%= i.email %>
          </td>
          <td>
            <%= time_ago_in_words i.invitation_created_at %> ago
          </td>
          <td>
            <%= link_to i.invited_by.email, user_path(i.invited_by) %>
          </td>
          <td>
            <%= link_to t('meta.defaults.actions.destroy'), user_path(i), method: :delete, data: { confirm: t('meta.defaults.labels.confirm') }, class: 'btn btn-default btn-xs' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
