<%= bootstrap_form_for(@feature) do |f| %>
  <%= f.alert_message t('meta.defaults.messages.errors.invalid_on_save', entity: 'Feature') %>
  <% if @feature.image? %>
    <label><%= t('activerecord.attributes.feature.image') %></label><br>
    <%= image_tag(@feature.image.url, class: 'thumbnail') %>
    <%= f.check_box :remove_image, label: t('meta.features.labels.remove_image') %>
  <% else %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  <% end %>
  <% if @feature.large_image? %>
    <label><%= t('activerecord.attributes.feature.large_image') %></label><br>
    <%= image_tag(@feature.large_image.url, class: 'thumbnail') %>
    <%= f.check_box :remove_large_image, label: t('meta.features.labels.remove_large_image') %>
  <% else %>
    <%= f.file_field :large_image %>
    <%= f.hidden_field :large_image_cache %>
  <% end %>
  <%= f.select :area, Feature.available_areas %>
  <%= f.text_field :title %>
  <%= f.url_field :title_link %>
  <%= f.text_field :institution %>
  <%= f.url_field :institution_link %>
  <%= f.text_field :short_description %>
  <%= f.url_field :external_link %>
  <%= f.check_box :public %>
  <%= f.check_box :primary %>
  <%= f.primary t('meta.defaults.actions.save') %>
<% end %>