<%= content_for :admin_area_title do %>
    Items for Batch
<% end %>

<%=
  content_for :admin_area_subtitle do
    @batch.name
  end
%>

<%= link_to 'Add Batch Item', new_meta_batch_batch_item_path(@batch), class: 'btn btn-default' %>
<%= link_to 'Populate Batch Items via XML', xml_meta_batch_batch_items_path(@batch), class: 'btn btn-default' %>

<% if @batch_items.empty? %>

    <p>No Batch Items have been added yet.</p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'id', 'ID' %>
        </th>
        <th>
          <%= sortable 'slug' %>
        </th>
        <th>
          <%= sortable 'dcterms_title', 'Title' %>
        </th>
        <th>
          <%= sortable 'collection_id', 'Collection' %>
        </th>
        <th width="185px"></th>
      </tr>
      </thead>

      <tbody>
      <% @batch_items.each do |item| %>
          <tr>
            <td>
              <%= link_to item.id, meta_batch_batch_item_path(@batch, item) %>
            </td>
            <td>
              <%= link_to item.slug, edit_meta_batch_batch_item_path(@batch, item) %>
            </td>
            <td>
              <%= item.dcterms_title.first %>
            </td>
            <td>
              <%= link_to(item.collection.display_title, meta_collection_path(item.collection)) if item.collection %>
            </td>
            <td>
              <div class="btn-group btn-group-xs">
                <%= link_to 'View', meta_batch_batch_item_path(@batch, item) , class: 'btn btn-default' %>
                <%= link_to 'Edit', edit_meta_batch_batch_item_path(@batch, item) , class: 'btn btn-default' %>
                <%= link_to 'Delete', meta_batch_batch_item_path(@batch, item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @batch_items %>

<% end %>
