<%= content_for :title do %>
    Items for Batch
<% end %>

<%=
  content_for :subtitle do
    @batch.name
  end
%>

<% breadcrumb :batch_items, @batch %>

<% unless @batch.committed? %>
  <%= link_to t('meta.batch_item.action.add'), new_batch_batch_item_path(@batch), class: 'btn btn-default' %>
  <%# link_to t('meta.batch.actions.populate_with_xml'), import_batch_path(@batch), class: 'btn btn-default' %>
  <%= link_to t('meta.batch.actions.populate_with_xml'), new_batch_batch_import_path(@batch), class: 'btn btn-default' %>
<% end %>

<%= render 'shared/per_pager' %>

<% if @batch_items.empty? %>

    <p><%= t('meta.defaults.labels.no_records_found', entity: 'Batch Items') %></p>

<% else %>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>
          <%= sortable 'id', t('meta.defaults.labels.columns.id') %>
        </th>
        <th>
          <%= sortable 'slug', t('meta.defaults.labels.columns.slug') %>
        </th>
        <th>
          <%= sortable 'dcterms_title', t('meta.defaults.labels.columns.title') %>
        </th>
        <th>
          <%= t('meta.defaults.labels.columns.valid') %>
        </th>
        <th>
          <%= t('meta.batch_item.labels.columns.collection') %>
        </th>
        <th width="185px"></th>
      </tr>
      </thead>

      <tbody>
      <% @batch_items.each do |item| %>
          <tr>
            <td>
              <%= link_to item.id, batch_batch_item_path(@batch, item) %>
            </td>
            <td>
              <%= link_to item.slug, edit_batch_batch_item_path(@batch, item) %>
            </td>
            <td>
              <%= item.dcterms_title.first %>
            </td>
            <td>
              <%= item_validation_status item %>
            </td>
            <td>
              <%= link_to(item.collection.display_title, collection_path(item.collection)) if item.collection %>
            </td>
            <td>
              <div class="btn-group btn-group-xs">
                <%= link_to t('meta.defaults.actions.view'), batch_batch_item_path(@batch, item) , class: 'btn btn-default' %>
                <% unless @batch.committed? %>
                  <%= link_to t('meta.defaults.actions.edit'), edit_batch_batch_item_path(@batch, item) , class: 'btn btn-default' %>
                  <%= link_to t('meta.defaults.actions.destroy'), batch_batch_item_path(@batch, item), method: :delete, data: { confirm: t('meta.defaults.labels.confirm') }, class: 'btn btn-default' %>
                <% end %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @batch_items %>

<% end %>
