<%= content_for :title do %>
    Show Batch Item
<% end %>

<%= content_for :subtitle do %>
    <%= @batch_item.title %>
<% end %>

<% breadcrumb :batch_item, @batch_item %>

<%= link_to t('meta.defaults.actions.edit'), edit_batch_batch_item_path(@batch, @batch_item), class: 'btn btn-default' %>

<br><br>

<%= render('shared/show_field', field_name: t('activerecord.attributes.batch_item.collection_id'), value: @batch_item.collection.display_title) if @batch_item.collection %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.batch_item.slug'), value: @batch_item.slug %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.batch_item.dpla'), value: @batch_item.dpla %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.batch_item.public'), value: @batch_item.public%>

<%= render partial: 'shared/show_dc_fields', locals: { entity: @batch_item} %>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t('activerecord.attributes.batch_item.other_collections') %></strong>
  </div>
  <div class="panel-body">
    <ul>
      <% @batch_item.other_collection_titles.each do |c| %>
          <li><%= c %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= render 'shared/show_field', field_name: t('activerecord.attributes.batch_item.created_at'), value: @batch_item.created_at %>
<%= render 'shared/show_field', field_name: t('activerecord.attributes.batch_item.updated_at'), value: @batch_item.updated_at %>
