<%= content_for :admin_area_title do %>
    XML Import for Batch
<% end %>

<%=
  content_for :admin_area_subtitle do
    @batch.name
  end
%>

<%= bootstrap_form_tag url: xml_import_batch_batch_items_path(@batch), html: { id: 'xml_form' } do |f| %>

    <%= f.file_field :xml_file, label: 'XML File' %>
    <%= f.text_area :xml_text, label: 'XML Text' %>

    <%= f.submit 'Import' %>

<% end %>

<div id="results"></div>