<%= content_for :admin_area_title do %>
    XML Import for Batch
<% end %>

<%=
  content_for :admin_area_subtitle do
    @batch.name
  end
%>

<%= bootstrap_form_tag url: xml_import_batch_batch_items_path(@batch), html: { id: 'xml_form' } do |f| %>

    <%= f.file_field :xml_file, label: 'XML File' %>
    <%= f.text_area :xml_text, label: 'XML Text' %>

    <%= f.submit 'Import' %>

<% end %>

<div id="actions" class="hide well">
  <div class="btn-group">
    <%= link_to 'View Batch', batch_batch_items_path(@batch), class: 'btn btn-default' %>
    <%= link_to 'Process More XML', xml_batch_batch_items_path(@batch), class: 'btn btn-default', data: { no_turbolink: true } %>
  </div>

</div>

<div id="results">

</div>